* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #d9dcd6;
}


.header {
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

.header h1 {
  display: inline-block;
  font-size: 55px;
}

.header h1 .seo {
  color: #d9dcd6;
}


.header section {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

.header section ul {
  list-style-type: none;
}

.header section ul li {
  display: inline-block;
  margin-left: 25px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

p {
  font-size: 18px;
  margin-bottom: 10px;
}

.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}

.float-left {
  float: left;
  margin-right: 25px;
}

.float-right {
  float: right;
  margin-left: 25px;
}

.content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

/* Added this behaviour for smooth scroll when nav links are clicked. Search up on google with a stack overflow result given */
html {
  scroll-behavior: smooth;
}


.benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #2589bd;
}

/* Merged all these together */
.benefit-lead ,
.benefit-brand,
.benefit-cost, 
h3 {
  margin-bottom: 32px;
  color: #ffffff;
  text-align: center;
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

/* Left separate the elements which didn't have all the same changed */
h3 {
  margin-bottom: 10px;
  text-align: center;
  margin-top: 25px;
}

img {
  display: block;
  margin: 15px auto;
  max-width: 150px;
}

/* Merged*/
.search-engine-optimization, 
.online-reputation-management,
.social-media-marketing {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}


/* Changed the footer from h2 so could just use h2 instead of narrowing down the specific h2 elements I needed*/
h2 {
  margin-bottom: 20px;
  font-size: 36px;
}


/* Created this section as to work on these images specifically making them bigger */
.search-engine-optimization img, 
.online-reputation-management img,
.social-media-marketing img {
  height: 175px;
  width: 250px;
  max-height: 250px;
  max-width: 300px;
  margin-top: 0%;
}


.footer {
  padding: 30px;
  clear: both;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  font-size: 25px;
}
